@import "../base/reset.scss";
@import "../base/vars.scss";
@import "../base/mixins.scss";

.catalog__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.parameter {
    width: 301.454px;
    height: 1329px;
}

.parameter__form {
    width: 301.454px;
    height: 1329px;
}

.parameter__btn {}

.parameter__button {
    width: 110px;
    height: 29px;
    background: $whiteColor;
    @include text($grayColor, $mainFont, 16px, none, 400, none);
    letter-spacing: 1.44px;
}

.parameter__button:hover {
    border-bottom: 2px solid $accentColor;
    @include text($mainColor, $mainFont, 16px, none, 700, none);
}

.parameter__checkbox {
    margin-top: 40px;
}

.parameter__checkbox-title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.parameter__title {
    @include text($mainColor, $mainFont, 16px, none, 600, none);
    padding-left: 14px;
}

.check__style {
    @include text($mainColor, $mainFont, 14px, none, 400, none);
}

.parameter__select {
    margin-top: 42px;
}

.parameter__select-box {
    @extend %flex;
    width: 268px;
    height: 50px;
    border-bottom: 2px solid $grayColor;
}

.select {
    border: none;
    @include text($mainColor, $titleFont, 14px, none, 400, none);
}

.parameter__select-title {
    @include text($mainColor, $mainFont, 16px, none, 600, none);
}

.parameter__link-block {
    margin-top: 20px
}

.parameter__link {
    @include text($accentColor, $mainFont, 14px, none, 400, none);
    text-decoration: underline;
}

.text {
    width: 291px;
    height: 30px;
    border: 1px solid #E0E0E0;
    @include text($parametorColor, $mainFont, 12px, none, 400, none);
    padding-left: 20px;
}

.parameter__checkbox-btn {
    width: 63px;
    height: 25px;
    background: $menuColor;
    @include text($grayColor, $mainFont, 12px, none, 700, none);
    letter-spacing: 0.84px;
}

.parameter__checkbox-btn:hover {
    background: $accentColor;
    @include text($whiteColor, $mainFont, 12px, none, 700, none);
}

.parameter__checkbox-btn1 {
    width: 86px;
    height: 25px;
    @include text($whiteColor, $mainFont, 12px, none, 700, none);
    background: $mainColor
}

.catalog__content-block {
    @extend %flex;
    flex-wrap: wrap;
    min-height: 1732px;
}

.block__size2 {
    margin: 15px auto;
}

.parameter__choose-btn {
    width: 252px;
    height: 50px;
    background: $menuColor;
    @include text($parametorColor, $mainFont, 15px, none, 400, none);
    letter-spacing: 1.8px;
}

.parameter__choose-btn2 {
    width: 210px;
    background: $whiteColor;
    margin: 15px;
    @include text($mainColor, $mainFont, 13px, none, 400, none);

    svg {
        margin-left: 17px;
    }
}

.parameter__choose-button {
    text-align: center;
    margin-top: 42px;
}

.choose__link {
    @include text($grayColor, $mainFont, 13px, none, 400, none);
    text-decoration: underline;
}

.number {
    width: 330px;
    height: 39px;
    margin: auto;
    margin-top: 69px;
    margin-bottom: 100px;
}

.number__btn {
    width: 39px;
    height: 39px;
    background: $whiteColor;
    @include text($grayColor, $titleFont, 18px, none, 400, none);
}

.number__btn:hover{
    @include text($accentColor, $titleFont, 18px, none, 400, none);
    border: 2px solid $accentColor;
}

.catalog__current {
    display: none;
}

.catalog__current {
    margin-bottom: 83px;
}

.content__more-btn{
    display: none;
    width: 252px;
    margin: 40px auto;
}

@include mediaMobile {
    .parameter {
        display: none;
    }

    .catalog__current {
        display: block;
    }
    .content__more-btn{
        display: block;
    }
    .number {
        margin-top: 0;
    }
}