@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&family=Staatliches&display=swap');
$mainFont: 'SF Pro Display', sans-serif;
$titleFont: 'Barlow', sans-serif;
$logoFont: 'Staatliches', sans-serif;
$mainColor: #2F3035;
$accentColor: #1C62CD;
$menuColor: #F0F0F4;
$whiteColor: #FFF;
$contColor: #F9F9FC;
$borderColor: #CDCDCD;
$grayColor: #C4C4C4;
$parametorColor: #BDBEC2;
$mobile: 416px;
$tablet: 665px;